.new_width {
    width: 1150px;
    position: absolute;
}


.edit {
    padding: 20px 20px;
    border: 1px solid cornflowerblue;
}

    .edit select {
        background: linear-gradient(180deg, rgba(85, 163, 255, 0.1) 0%, rgba(85, 163, 255, 0) 100%), #282E3E;
        border: 2px solid rgba(255, 255, 255, 0.05);
        width: 300px;
        height: 40px;
        font-size: 20px;
        padding-left: 10px;
        color: white;
        font-weight: 500;
        margin-left: auto;
        display: flex;
        margin-bottom: 30px;
    }

.edit__box {
    width: 90px;
    border-right: 3px solid cornflowerblue;
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    color: yellow;
    text-decoration: underline;
}

.edit__name {
    margin-right: 105px;
    margin-left: 36px;
}

.edit__type {
    margin-right: 130px;
}

.edit__title {
    font-weight: 600;
    color: cornflowerblue;
    margin-top: 35px;
    font-size: 22px;
    margin-bottom: 10px;
}

.type {
    margin-right: 80px;
}

.max {
    margin-right: 60px;
}

.boxE {
    display: flex;
    height: 70px;
    color: white;
    align-items: center;
    font-size: 20px;
    background: linear-gradient(180deg, rgba(85, 163, 255, 0.1) 0%, rgba(85, 163, 255, 0) 100%), #282E3E;
    border: 2px solid rgba(255, 255, 255, 0.05);
}

.dataE__box {
    width: 100px;
    border-right: 3px solid cornflowerblue;
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    color: yellow;
    text-decoration: underline;
}

.dataE__name {
    width: 200px;
    border-right: 3px solid cornflowerblue;
    height: inherit;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: underline;
}

.boxE__box {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: auto;
    margin-left: auto;
}

    .boxE__box button {
        border: 3px solid darkred;
        background: darkred;
        border-radius: 8px;
        color: white;
        height: 33px;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 18px;
    }
